@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,длина @0,100..900;1,100..900&display=swap');
body {
  margin: 0;
  font-family: "Raleway", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #F0F2EB;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
body .foto{
  height: 10vw;
  width: 20vw;
}

body .presentation::after {
  content: 'РАСТИТЕЛЬНЫЙ ПИТОМНИК ';
  position: absolute;
  font-family: "Raleway", serif;
  margin-top: 7vw;
  max-width: 5vw;
  font-size: 3.5vw;
  margin-left: 10vw;
  color: #3a3a3a;
  letter-spacing: 0.5vw;
}
body .minizagol {
  
  position: absolute;
  margin-top: 10vw;
  font-family: "Raleway";
  font-size: 1.5vw;
  font-weight: 200;
  margin-left: 10vw;
  
  color: #3a3a3a;
  letter-spacing: 0.1vw;
}
.button1{
  margin-top: 20vw;
  margin-left: 10vw;
}
.button2{
  margin-top: 1vw;
  margin-left: 10vw;
}
.foto2{
  margin-right: 3vw;
  margin-top: 1vw;
}
.f{
  margin-top: 1vw;
}
p{
  color:#F4F4F4;
  font-weight:200;
  
}

.loading-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.enot-centered {
  max-width: 80%;
  max-height: 80%;
}